<h1>Rock, Paper, Scissors </h1>

<div class="rps-signs">
<img class="rps-img" src="http://www.clker.com/cliparts/V/0/0/e/T/J/rock-paper-scissor-game-th.png" />
</div> 

<h3> Wanna play? Make a choice of which hand sign you'd like to use,
and try your luck against the computer.</h3>
<hr>
<div class="throw-form">
  <%= render 'form' %>
</div>
<hr>

<h4> Previous Results </h4>
<table class="previous-results">
  <tr class="previous-results-th">
    <th>Game #</th>
    <th>Result</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.status %></td>
  </tr>
<% end %>
</table>
